  deploy:
    runs-on: ubuntu-latest
    needs: build

    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages (attempt 1)
        id: deploy1
        uses: actions/deploy-pages@v4
        continue-on-error: true
        with:
          artifact_name: github-pages

      - name: Deploy to GitHub Pages (attempt 2)
        if: steps.deploy1.outcome == 'failure'
        id: deploy2
        uses: actions/deploy-pages@v4
        continue-on-error: true
        with:
          artifact_name: github-pages

      - name: Deploy to GitHub Pages (attempt 3)
        if: steps.deploy2.outcome == 'failure'
        id: deploy3
        uses: actions/deploy-pages@v4
        with:
          artifact_name: github-pages
